/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* ------------------ */
/* ----PARAMETERS---- */
/* ------------------ */
:root {
  --window-width: 0px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  z-index: 0;
}
/* Since positioning the image, we need to help out the caption */
/* .carousel-caption {
  bottom: 3rem;
  z-index: 10;
} */

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  /* display: flex; */
  /* justify-content: center; */
}

.carousel-item img{
  /* height: 100%; */
  /* margin-left: calc(50% - var(--window-width)/2); */
  display: block;
  position: absolute;
  /* margin:0 auto; */
}

#carousel-indicators > li {
  border-radius: 50%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
/* .marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
} */
/* rtl:begin:ignore */
/* .marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
} */
/* rtl:end:ignore */


/* Featurettes
------------------------- */

/* .featurette-divider {
  margin: 5rem 0;
} */

/* Thin out the marketing headings */
/* rtl:begin:remove */
/* .featurette-heading {
  letter-spacing: -.05rem;
} */

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

/* @media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
} */
