/* ------------------ */
/* ----PARAMETERS---- */
/* ------------------ */
:root {
  --layout-min-height: 800px;
  --layout-min-width: 565px;
  --page-gap: 0.5vh;
  --page-padding-tenchi: 10%;
  --page-padding-sayu: 10%;
  --base-spacing: 1vh;
  --base-spacing-w: calc(1vw*1.415);
  --base-spacing-menu: 12px;
  --base-fontsize: 1.2vh;
  --base-fontsize-w: calc(1.2vw*1.415);
  --base-fontsize-menu: 14.5px;
  --menu-scale-factor: 1.6;
  --hover-filter: 70%;
  --hover-color: #FFFA;
  --menu-display: none;
  --sans: "Lato", "Noto Sans JP", sans-serif;
  --serif: "Libre Caslon Text", "Shippori Mincho", serif;
  --normal-weight: 300;
  --bold-weight: 500;
}

/* ------------------ */
/* ----   MAIN   ---- */
/* ------------------ */

body {
  padding-bottom: 3rem;
  font-family: var(--sans);
  font-size: 0.9rem;
  font-weight: var(--normal-weight);
  line-height: 2rem;
}

b{
  font-weight: var(--bold-weight);
}

h1 {
  font-family: var(--serif);
  font-size: 1.8rem;
  font-weight: var(--bold-weight);
}

h1.ja {
  font-weight: var(--bold-weight);
}

h2 {
  font-family: var(--serif);
  font-size: 1.5rem;
  font-weight: var(--bold-weight);
}

h3 {
  font-size: 1.2rem;
  font-weight: var(--bold-weight);
}

h3.en{
  font-weight: var(--bold-weight);
}

h3.serif{
  font-family: var(--serif);
  font-weight: var(--bold-weight);
}

p {
  /* font-size: 1rem; */
}

/* .container{
  margin: 0;
  width: 100%;
} */

.container-img{
  height: 250px;
  width: 250px;
  overflow:hidden;
}
.container-img > img{
  transition: 0.2s ease-in-out;
  object-fit: cover;
  width: 250px;
  height: 100%;
  /* max-height: 100%;
  width: auto;
  display: block;
  margin: auto; */
}

.container-img > img:hover{
  scale: 1.1;
  object-fit: cover;
}

.scroll_fade {
  transition: 0.8s ease-in-out;
  transform: translateY(5px);
  opacity: 0;
}
.scroll_fade.on {
  transform: translateY(0);
  opacity: 1.0;
}
.on_fade {
  transition: 0.8s ease-in-out;
  transform: translateY(0);
  opacity: 0;
}
.on_fade.on {
  transform: translateY(0);
  opacity: 1.0;
}

.button {
  transition: 0.2s ease-in-out;
  /* appearance: none; */
  border: 1px solid;
  border-color: #000000;
  background: none;
  color: #000000;
  padding: 0.5rem 1rem;
  font-weight: var(--bold-weight);
}
.button:hover{
  background: black;
  color: white;
}
a.button{
  color: black;
  text-decoration: none;
}

div.disabled{
  display: none;
}

/* ------------------- */
/* ----  NAV BAR  ---- */
/* ------------------- */
.navbar{
  z-index: 9998;
  width: 100%;
  /* background-color: rgba(255,255,255,0.8); */
  background: white;
}

.navbar.show{
  background: white;
}

.navbar-brand{
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  display: block;
  margin: auto;
  font-family: var(--serif);
}

.navbar-filler{
  display: block;
  height: 1rem;
  width: 100%;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 50%,rgba(255,255,255,1) 100%);
}

.navbar-lang{
  cursor: pointer;
  font-weight: var(--normal-weight);
  margin-right: 1rem;
  color: black;
  text-decoration: none;
}

.navbar-lang:hover{
  font-weight: var(--bold-weight);
}

#selected{
  font-weight: var(--bold-weight);
}
/* 
.navbar-lang > span:hover{
  font-weight: var(--bold-weight);
} */

/* .navbar-lang{
  transition: 0.2s ease-in-out;
  border: 1px solid;
  border-color: #000000;
  background: none;
  color: #000000;
  padding: 0.2rem 0.4rem;
  font-weight: var(--bold-weight);
}
.navbar-lang:hover{
  background: black;
  color: white;
} */

/* .navbar-collapse {
  opacity: 0;
}

.navbar-collapse.show {
  opacity: 1;
  transition: all 1s;
} */

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0!important;
  
}

.toggler-icon{
  width: 30px;
  height: 3px;
  background-color: #000000;
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #000000;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.btn{
  z-index: 9998;
}


/* ------------------- */
/* ----  CROUSEL  ---- */
/* ------------------- */
.carousel {
  margin-bottom: 4rem;
  z-index: 0;
}

.carousel-item {
  height: 100vh;
  transition: transform 1.0s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  transition: opacity 0s 1.0s;
}

.carousel-item img{
  display: block;
  position: absolute;
}

.carousel-indicators > li {
  border-radius: 50%;
}

/* -------------------- */
/* ----  CONTENTS  ---- */
/* -------------------- */
.bio-name{
  padding-top: 1rem;
}


#bio{
  background-color: bisque;
}